body {
	
	margin: 0;
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	line-height: 21px;
}

body .inner-page {
	width: 1200px;
	min-height: 2762px;
	margin: 0;

	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	line-height: 21px;
	background-color: #f2f2f2; 
}

/*Иконочные шрифты*/
@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */

/*End Иконочные шрифты*/

h1 {
	font-size: 30px;
	font-weight: bold; 
}

h2 {
	font-size: 21px;
	font-weight: bold;
}

p {
	color: #333333;
}

.container {
	width: 1200px;
	min-width: 768px;
	/*min-height: 2762px;*/
	margin: 0 auto;
	position: relative;
	background: #ffffff;
	box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.5);
	/*outline: 3px solid red;*/
}


.main-header {
	width: auto;
	min-height: 55px;

}

.main-navigation {
	padding: 0 6%;
	

}

.nav {
	height: 56px;
	display: flex;

	justify-content: space-between;
	/*outline: 2px solid yellow;*/
	
}

	
ul {
  	list-style: none;
  	margin: 0;
  	padding: 0;
  	align-items: center;
  	text-align: left;
  	font-weight: bold;
  	
  	text-decoration: none; 
}

.nav li:nth-child(4n) {
	text-align: right;
}

.nav li:nth-child(5n) {
	text-align: right;
}

.nav li {
	width: 20%;

}

.nav li:nth-child(3n) {
	width: 9%;
	align-items: flex-start;
}

.nav a {
	text-decoration: none;
	color: #000000;
}

.nav a:hover {
	color: #81b3d2;
}

.nav a:active {
	color: rgba(0, 0, 0, 0.3);
}

.index-logo img {
	top: 10px;
	left: -22px;
	position: relative;
	z-index: 2;
}

.index-logo:after {
	position: absolute;

}

.background_view {
	height: 508px;
	background: url("../img/background_photo.jpg") no-repeat 0% 22%;
	background-size: cover;
	position: relative;
	
}

.background_view:after {
	content: "";
	background: url("../img/background_shape.png") no-repeat;
	height: 57px;
	
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.background_view img {
	text-align: center;
	margin-top: 75px;
}

.inner_form {
	height: 217px;
	background: url("../img/form_image.jpg") no-repeat center;
	background-size: cover;
	color: #ffffff;	
	text-align: left;
	
}



.features_form {

	display: flex;
	justify-content: space-around;
	text-align: left;
	
}

.features_form .infrastructure {
	width: 20%;
	height: 217px;
	padding-left: 71px;
	line-height: 3em;
	
	/*outline: 2px solid red;*/
}

.features_form input[type="checkbox"] {
	display: none;
}

.infrastructure input[type="checkbox"] +label {
	position: relative;
	
	padding-left: 41px;
	cursor: pointer;
}

.features_form input[type="checkbox"] +label::before {
	content: "\2610";
	position: absolute;
	left: 0;
	width: 10px;
	height: 10px;
	font-family: "symbols-sedona";
	font-size: 26px;
}

.features_form input[type="checkbox"]:checked +label::before {
	content: "\2611";
}

.features_form input[type="checkbox"]:disabled + label:before {
	color: #6a6a6a;
}

.features_form h2 {
	height: 30px;
	font-size: 16px;
	margin-top: 16px;
	margin-bottom: 2px;
}
.infrastructure h2, .houses_type h2 {
	height: 30px;
	font-size: 16px;
	margin-top: 16px;
	margin-bottom: 17px;
}

.features_form .houses_type {
	width: 25%;
	height: 217px;
	padding-left: 15px;
	line-height: 3em;	
}

/*.infrastructure h2 {
	margin-bottom: 3px;
}*/

.check {
	height: 30px;

}
.check:nth-child(2) {
	margin-top: 10px;
}

.check:nth-child(3) {
	margin-top: 15px;
	margin-bottom: 15px;
}

.houses_type input[type="checkbox"] +label {
	position: relative;
	
	padding-left: 41px;
	cursor: pointer;
}

.price-controls {
	border: none;
	padding: 5px;
	text-align: center;
	border: 2px solid #fff;
	border-radius: 3px;

}

.price-controls input {
	width: 48%;
	vertical-align: top;
	text-align: center;
	background: 0 0;
	margin: 0;
	border: none;
	color: #ffffff;
	font: inherit;
}

.price-controls .min-price {
	border-right: 2px solid #ffffff;
	border-radius: 0;
	outline: none;
}

.price-controls .min-price {
	outline: none;
}

.range-filter {
    width: 315px;
    margin-left: auto;
    margin-right: 74px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.range-controls {
    position: relative;
    width: 100%;

    height: 30px;
    margin-bottom: 16px;
    border-radius: 5px;
    overflow: hidden;
}
.scale {
    margin-top: 19px;
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}
.bar {
    height: 2px;
    background: #ffffff;
}
.toggle {
    position: absolute;
    top: 10px;
    left:30px;
    width: 4px;
    height: 4px;
    border: 8px solid white;
    background: #ababab;
    cursor: pointer;
    border-radius:50%;
}
.min-toggle {
    left: 0px;
}
.max-toggle {
    left: 250px;
}

.min-toggle:hover, .max-toggle:hover {
	background: #1c4f80;
}

.btn_reserch {
	vertical-align: middle;
	padding: 7px 33px;
	margin: 5px 83px;
	border: 2px solid #ffffff;
	border-radius: 2px;
	background: 0 0;
	color: #ffffff;
	text-transform: uppercase;
	outline: none;
}

.btn_reserch:hover {
	background: #ffffff;
	color: #000000;
}

.sorting {
	height: 86px;
	align-items: center;
	padding-left: 72px;
	padding-right: 72px;
	display: flex;
	justify-content: flex-start;
	border-bottom: 1px solid #e5e5e5;
	/*outline: 2px solid red;*/
}

.sorting p {
	/*width: 25%;*/
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	padding-right: 40px;
	
}

.sorting p:nth-child(1) {
	font-size: 21px;
	font-weight: bold;	
	padding-right: 46px;
	padding-bottom: 2px;
}

.sorting_type {
	width: 30%;
	display: flex;
	/*justify-content: space-between;*/
	align-items: center;

}

.sorting_type a {
	font-size: 12px;
	text-decoration: none;
	margin-right: 34px;
	border-bottom: 1px dotted #81b3d2;
	color: rgba(0, 0, 0,  0.3);
	font-weight: normal;
}

.sorting_type li:nth-child(2) {
	margin-right: 5px;
	margin-right: 0px;
}

.sorting_type .active {
	border-bottom: none;
	color: #81b3d2;
}

.sorting_type a:hover {
	color: #81b3d2;
	border-bottom: 2px dotted #81b3d2;
}

.sorting_type a:active {
	color: #000000;
	border-bottom: none;
}

.range {
	display: flex;
	align-items: center;
	margin-left: auto;

	font-size: 0;
	vertical-align: top;
	text-decoration: none;
	text-align: center;
}

.range span {
	font-size: 23px;
	color: #81b3d2;
	text-align: right;
}
.range .icon-up-dir {
	color: rgba(0, 0, 0, 0.3);

}

.icon-up-dir::before {
	
	margin: 6px 0px 0px 0px;
	padding: 0;
	text-align: right;
}
.icon-down-dir::before {
	
	margin: 6px 0px 0px 2px;
	padding: 0;
	text-align: right;
}

.icon-up-dir:hover, .icon-down-dir:hover {
	color: #000000;
} 

.icon-up-dir:active, .icon-down-dir:active {
	color: #81b3d2;
} 

.inner-page .hotels {
	/*width: 1056px;*/
	min-height: 91px;
	margin: 0 auto;
	padding-left: 72px;
	padding-right: 72px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 1px solid #e5e5e5;
}


.inner-page .hotel_img {
	width: 135px;
	height: 90px;
	padding: 30px 30px 30px 0px;
}

.hotel_img img {
	width: 100%;
	height: auto;
}

.description {
	width: 260px;
	height: 95px;
	display: flex;
	flex-direction: column;
	/*justify-content: space-between;*/
	text-align: left;
	font: inherit;
	/*vertical-align: top;*/

}

.description h2 {
	margin: 0;
	color: #000000;
	margin-bottom: 9px;
	text-decoration: none;
}

.description h2:hover {
	color: #81b3d2;	
}

.description h2:active {
	color: #cacaca;	
}

.description a {
	text-decoration: none;
}

.details {
	margin-bottom: 18px;
}

.details span {
	margin-right: 35px;
}
.details .name_2 {
	margin-right: 63px;
}

.details .name_3 {
	margin-right: 19px;
}

.details a {
	width: 110px;
	height: 27px;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	padding: 5px 15px;
	
}

.details a:first-child {
	
	background: #81b3d2;
	margin-right: 5px;
}

.details a:first-child:hover {
	background: #669ec0;
}

.details a:first-child:active {
	background: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.details a:nth-child(2) {
	background: #766357;
}

.details a:nth-child(2):hover {
	background: #604e43;
}

.details a:nth-child(2):active {
	background: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

.rating {
	display: flex;
	max-width: 330px;
	min-height: 93px;
	flex-direction: column;
	justify-content: space-between;
	margin-left: auto;
}

.rating_icon {
	margin: 0;
	text-align: right;

}

.icon-star {
	display: inline-flex;
	font-size: 19px;
	color: #81b3d2;
	/*padding: 20px;*/
	line-height: 48px;
}

.icon-star::before {
	padding: 0;
	margin: 0;
}

.rating_point {
	color: #666666;
	background: #f2f2f2;
	padding: 3px 13px 3px 14px;
	margin: 40px 0px 0px 0px;
}

.about {
	width: auto;
	min-height: 215px;
	display: flex;
	flex-direction: column;
	align-items: center;
	/*outline: 2px solid red;*/
}

.about > h2 {
	width: 575px;
	margin-top: 59px;
	margin-bottom: 0px;
	line-height: 26px;
	/*outline: 2px solid red;*/

}
.about p {
	width: 575px;
	margin: 31px 0px;
	/*outline: 2px solid red;*/

}

.reason {
	/*height: 258px;*/
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #81b3d2;
	/*outline: 2px solid red;*/
}


.reason .col_1 h2 {
	color: #ffffff;
	margin-bottom: 25px;
}

.reason .col_1 p {
	width: 302px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	color: #ffffff;	
}


.reason_image {
	position: relative;
	height: 256px;
	overflow: hidden;
}

.reason_image img {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 10px;
	margin: auto;
}

.col_1 {
	width: 33.33333%;
	/*outline: 2px solid yellow;*/
}

.col_2 {
	width: 66.66666%;
}

.features_list {
	height: 256px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	/*align-items: center;*/
	background-color: #eeeeee;
}

.reason .col_1 {
	margin: 0;
	padding-top: 38px;
}

.second .col_1 {
	padding: 30px;
}

.first {
	height: 330px;
	background-color: #ffffff;
}
.first .col_1 p {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 33px;
	margin-top: 24px;
}

.second .col_1 h2 {
	width: 130px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px;
}
.second .col_1 p {
	width: 280px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
}

.housing, .food, .souvenirs {
	 padding-top: 40px;
}

.housing::before {
	content: "";
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	width: 80px;
	height: 80px;
	background: url("../img/sprite.png") no-repeat;
	background-position: -101px -5px;
}


.food::before {
	content: "";
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	width: 80px;
	height: 80px;
	background: url("../img/sprite.png") no-repeat;
	background-position: -7px -5px;
}


.souvenirs::before {
	content: "";
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	width: 80px;
	height: 80px;
	background: url("../img/sprite.png") no-repeat;
	background-position: -590px -8px;
}    

.form {
	position: relative;
	padding-top: 58px;
	
}

.form p {
	margin: 0 auto;
	margin-bottom: 50px;
	color: #333333;
	
}
.form h2 {
	font-size: 30px;
	margin-bottom: 35px;
	margin-top: 0px;
	text-align: center;
}


.form .research {
	position: absolute;
	top: 292px;
	left: 0;
	right: 0;
	width: 468px;
	margin: auto;
	background-color: #ffffff;
	box-shadow: 0 0 10px #cccccc;
	font-weight: bold;
	z-index: 1;
	padding: 55px 50px;
	text-align: left;
}

.filds label {
	width: 110px;
}

.quantity_controls>label:nth-child(2) {
	width: 43px;
	/*text-align: right;*/
}

.research .filds {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 28px;
}

.research input {
	width: 330px;
	background-color: #f2f2f2;
	border: none;
	font: inherit;
	text-transform: inherit;
	font-weight: bold;
	outline: none;

}

.research input:hover {
	background-color: #ebebeb;
}

.research input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;

}
.filds_in {
	position: relative;
}

.icon-calendar {
	position: absolute;
	bottom: 9px;
	right: 9px;
	color: #c2c2c2;
	font-family: 'symbols-sedona'; 
	font-size: 21px;
	cursor: pointer;
}

.icon-calendar:hover {
	color: #000000;
}

.icon-calendar:active {
	color: #81b3d2;
}

.quantity_controls {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 55px;
}

.quantity_controls label:first-child {
	margin: 0px 41px 0px 0px;
}
.quantity_controls label {
	margin: 0px 27px 0px 57px;
}


.quantity_controls input {
	width: 114px;
	border: none;
}

.icon-minus:hover, .icon-plus:hover {
	color: #000000;
}

.icon-minus:active, .icon-plus:active {
	color: #81b3d2;
}

.research input[type="text"] {
	width: 331px;
	height: 38px;
	padding-left: 15px;
}

.research button[type="button"] {
	width: 38px;
	height: 38px;
	color: #a9a9a9;
	background: #f2f2f2;
	border: none;
}

.quantity_controls input[type="text"] {
	width: 38px;
	height: 38px;
	text-align: center;
	padding: 0;
}

.research input[type="submit"] {
	width: 458px;
	height: 58px;
	background: #81b3d2;
	color: #ffffff;
	text-decoration: none;
	font-size: 24px;
	font-weight: bold; 
	text-align: center;
	margin: 0 auto;
}

.research input[type="submit"]:hover {
	background: #669ec0;
}

.research input[type="submit"]:active {
	background: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.research input[type="submit"]:focus {
	border: none;
}

.research_hotels {
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	line-height: 86px;
	width: 568px;
	background: #766357;
	color: #ffffff;
	text-decoration: none;
	font-size: 21px;
	font-weight: bold;
	text-align: center;
	z-index: 2;
}


.map {
	background: url(../img/map.jpg) no-repeat;
	width: auto;
	height: 593px;
	margin: auto;
}

.main-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	min-height: 120px;
	background: rgba(255, 255, 255, 0.9);

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}


.main-footer p {
	width: 33%;
	font-size: 21px;
	font-weight: bold;
	align-self: center;

}

.footer-social {
	display: flex;
	justify-content: center;
	width: 33.33333%;
}

.social-btn {
	width: 46px;
	height: 48px;
	margin: 0 5px;

	font-size: 0;
	vertical-align: top;
	text-decoration: none;
	text-align: center;
	background: #81b3d2;
}

.social-btn:hover {
	background: #669ec0;
}
.social-btn:active {
	background: #5496bd;
	
}

.social-btn:active span {
	color: rgba(255, 255, 255, 0.3);
}

.social-btn span {
	font-size: 19px;
	color: #ffffff;
	line-height: 48px;
}

.footer-copyright {
	width: 33.33333%;
	display: inline-flex;
	justify-content: flex-end;
	align-items: center;
}

.footer-copyright p {
	margin-right: 5px;
	font-size: 14px;
	text-align: right;
	font-weight: normal;
}

/*.logo_academy {
	width: 113px;
	min-height: 39px;
	
}*/

/*.logo_academy:hover {
	background: url(../img/htmlacademy_logo_hvr.png) no-repeat;
}

.logo_academy:active {
	background: url(../img/htmlacademy_logo_act.png) no-repeat;
}*/

.logo_academy {
	content: "";
	display: flex;
	margin-left: 5px;
	margin-right: 103px;
	margin-top: 4px;
	width: 113px;
	min-height: 39px;
	background: url("../img/sprite.png") no-repeat;
	background-position: -199px -10px;
}
.logo_academy:hover {
	background: url("../img/sprite.png") no-repeat;
	background-position: -465px -10px;
} 
.logo_academy:active {
	background: url("../img/sprite.png") no-repeat;
	background-position: -332px -10px;
} 


/*Футер Inner*/

.main-footer-inner {
	
	min-height: 120px;
	background: #ffffff;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

}

.main-footer-inner p {
	width: 33%;
	font-size: 21px;
	font-weight: bold;
	align-self: center;
	/*margin-left: 25px;*/
}

.main-footer-inner .footer-social {
	display: flex;
	justify-content: center;
	width: 33.33333%;
}

.main-footer-inner.social-btn {
	width: 46px;
	height: 48px;
	margin: 0 5px;

	font-size: 0;
	vertical-align: top;
	text-decoration: none;
	text-align: center;
	background: #81b3d2;
}

.main-footer-inner.social-btn:hover {
	background: #669ec0;
}

.main-footer-inner.social-btn:active {
	background: #5496bd;
}
.main-footer-inner .social-btn:active span {
	color: rgba(255, 255, 255, 0.3);
}

.main-footer-inner .social-btn span {
	font-size: 19px;
	color: #ffffff;
	line-height: 48px;
}

.main-footer-inner .footer-copyright {
	width: 33.33333%;
	display: inline-flex;
	justify-content: flex-end;
	align-items: center;
}

.main-footer-inner .footer-copyright p {
	margin-right: 5px;
	font-size: 14px;
	text-align: right;
	font-weight: normal;
}

.main-footer-inner .logo_academy {
	content: "";
	display: flex;
	margin-left: 5px;
	margin-right: 103px;
	margin-top: 4px;
	width: 113px;
	min-height: 39px;
	background: url("../img/sprite.png") no-repeat;
	background-position: -199px -10px;
}
.main-footer-inner .logo_academy:hover {
	background: url("../img/sprite.png") no-repeat;
	background-position: -465px -10px;
} 
.main-footer-inner .logo_academy:active {
	background: url("../img/sprite.png") no-repeat;
	background-position: -332px -10px;
} 